# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
*.iml
.idea/
*.ipr
*.iws
*.class
*.project
*.classpath
*.settings/
out/
bin/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

